<div class="shopping">
  <div class="titulo" *ngIf="temProdutos">
    <h2>Minhas compras</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="nome-coluna">Id</th>
          <th scope="col" class="nome-coluna">Preço total</th>
          <th scope="col" class="nome-coluna">Ação</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let produto of produtosComprados">
          <tr>
            <th class="dados">{{ produto.id }}</th>
            <th class="dados">{{ produto.preco }}</th>
            <th class="dados">
              <button class="botao" (click)="verDetalhes(produto.id!)">
                Detalhes
              </button>
            </th>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<div class="container" *ngIf="!temProdutos">
  <h1>Não há nada por aqui ainda ...</h1>
  <p>Vamos adicionar itens ao carrinho?</p>
  <a [routerLink]="['/catalog']" class="btn">Ir ao catálogo</a>
</div>
