<form [formGroup]="form" method="get">
  <span class="p-float-label">
    <input
      pInputText
      [(ngModel)]="date"
      id="{{ frmName }}"
      class="{{ frmClass }}"
      type="text"
      onfocus="this.type='date'"
      onblur="if (!this.value) this.type='text'"
      formControlName="{{ frmName }}"
      [ngClass]="{
        'is-invalid': form.get(frmName)?.invalid,
        'is-valid': form.get(frmName)?.valid
      }"
    />
    <label [htmlFor]="frmName">{{ frmPlaceholder }}</label>
  </span>
</form>
