<div class="container">
  <div class="card">
    <form (ngSubmit)="onSubmit()" [formGroup]="userFormGroup" #forDir="ngForm">
      <h1>Editar Usuários</h1>
      <div class="label">
        <span for="">Nome:</span>
      </div>
      <div>
        <input type="text" class="input" formControlName = "nome" required/>
      </div>
      <div *ngIf="userFormGroup.get('nome')?.invalid" class="required">
        <p>O nome é obrigatório</p>
      </div>
      <div class="label">
        <span for="categoria">Sobrenome:</span>
      </div>      
      <div>
        <input type="text" class="input" formControlName = "sobrenome" required/>
      </div>
      <div *ngIf="userFormGroup.get('sobrenome')?.invalid" class="required">
        <p>O sobrenome é obrigatório</p>
      </div>
      <div class="label">
        <span for="preco">Idade:</span>
      </div>
      <div>
        <input type="number" class="input" formControlName = "idade" required/>
      </div>
      <div *ngIf="userFormGroup.get('idade')?.invalid" class="required">
        <p>A idade é obrigatória</p>
      </div>
      <div class="label">
        <span for="descricao">Email</span>
      </div>
      <div>
        <input type="text" class="input" formControlName = "email" required/>
      </div>
      <div *ngIf="userFormGroup.get('email')?.invalid" class="required">
        <p>O email é obrigatório</p>
      </div>
      <div class="label">
        <span for="descricao">CEP:</span>
      </div>
      <div>
        <input type="text" class="input" formControlName = "cep" required/>
      </div>
      <div *ngIf="userFormGroup.get('cep')?.invalid" class="required">
        <p>O CEP é obrigatório</p>
      </div>
      <div class="label">
        <span for="descricao">Função:</span>
      </div>
      <div>
        <input type="text" class="input" formControlName = "funcao" required/>
      </div>
      <div *ngIf="userFormGroup.get('funcao')?.invalid"  class="required">
        <p>A Função é obrigatória</p>
      </div>
      <div>
        <button class="botao" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>