.container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.card {
  margin-top: 60px;
  background: #1d1e2c;
  color: #6d6e7e;
  width: 380px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: 22px;
}

form {
  margin-left: 40px;
  margin-right: 40px;
}

.input {
  margin-top: 5px;
  width: 300px;
  height: 25px;
  border: none;
  border-radius: 5px;
}

form h1 {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 34px !important;
}

.label {
  margin-top: 20px;
}

.botao {
  margin-left: 100px;
  margin-top: 40px;
  border-radius: 5px;
  border: none;
  background-color: white;
  width: 100px;
  height: 40px;
  font-size: large;
  margin-bottom: 20px;
}

.botao:hover {
  background-color: rgb(191, 191, 191);
}

.botao:active {
  background-color: rgb(143, 143, 143);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.required{
  color: #ac1010;
  font-size: 15px;
}