<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Idade</th>
        <th scope="col">Email</th>
        <th scope="col">Cep</th>
        <th scope="col">Função</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <ng-container *ngFor="let usuario of listagemUsuarios">
      <tbody>
        <tr>
          <th scope="row" class="id">{{ usuario.id }}</th>
          <th>{{ usuario.nome }}</th>
          <th>{{ usuario.sobrenome }}</th>
          <th>{{ usuario.idade }}</th>
          <th>{{ usuario.email }}</th>
          <th>{{ usuario.cep | cep }}</th>
          <th>{{ usuario.funcao }}</th>
          <td class="acao">
            <button (click)="editarUser(usuario.id!)" class="editar">
              Editar
            </button>
            <button (click)="removerUser(usuario.id!)" class="excluir">
              Remover
            </button>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
  <div class="add-user">
    <button (click)="addUser()">Adicionar Usuário</button>
  </div>
</div>
<div class="desfazer-acao" *ngIf="usuariosRemovidos.length === 1">
  <div>
    Usuario
    <ng-container *ngFor="let usuarioRemovido of usuariosRemovidos">
      <strong>{{ usuarioRemovido.nome }}</strong>
    </ng-container>
    <span> removido!</span>
    <button class="desfazer" (click)="desfazerAcao()">Desfazer ação</button>
  </div>
</div>
<div class="desfazer-acao" *ngIf="usuariosRemovidos.length > 1">
  <div>
    Usuarios
    <ng-container *ngFor="let usuarioRemovido of usuariosRemovidos">
      <strong>{{ usuarioRemovido.nome }}</strong
      >,
    </ng-container>
    <span> removidos!</span>
    <button class="desfazer" (click)="desfazerAcao()">Desfazer ação</button>
  </div>
</div>
