.table,
th,
td {
  background: #0f1017;
  border: 1px solid;
  width: 1000px;
  height: 55px;
  color: #a2a3b6;
  text-align: center;
  justify-content: center;
  // align-items: center;
  margin-top: 75px;
  margin-left: 100px;
}

th {
  background: #0f1017;
  color: #ffffff;
}

td {
  text-align: center;
  align-items: center;
}

.id {
  background-color: rgb(98, 109, 119);
}

.acao {
  background-color: rgb(98, 109, 119);
}

button {
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editar {
  background-color: #32b6ee;
}

.excluir {
  background-color: rgb(220, 22, 22);
  margin-top: 7px;
}

.editar:hover {
  background-color: #108fc5;
}

.excluir:hover {
  background-color: rgb(182, 15, 15);
  margin-top: 7px;
}

.editar:active {
  background-color: #0c6d96;
}

.excluir:active {
  background-color: rgb(133, 12, 12);
  margin-top: 7px;
}

.add-user {
  margin-top: 20px;

  button {
    width: 200px;
    height: 30px;
    background-color: #68f592;
    font-size: large;
  }

  button:hover {
    background-color: #34b159;
  }

  button:active {
    background-color: #167533;
  }
  align-items: center;
  display: flex;
  justify-content: center;

  width: 100%;
  margin-bottom: 50px;
}
