<p-dialog
  [(visible)]="mostrar"
  [style]="{ width: 'auto', 'min-width': '40vw' }"
>
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column text-center">
      <p class="mb-0 fs-5">Total a Pagar</p>
      <h1>{{ valor | currency : "BRL" }}</h1>

      <div class="text-center mt-4"><p>Selecione a forma de pagamento:</p></div>
      <div class="d-flex justify-content-center mt-0">
        <p-listbox
          [options]="formasDePagamento"
          [(ngModel)]="formaSelecionada"
          optionLabel="name"
          [listStyle]="{ 'max-height': '280px' }"
          [style]="{ width: '100%' }"
        >
          <ng-template class="text-center" let-formaPagamento pTemplate="item">
            <div class="text-center fs-4">
              <i class="{{ formaPagamento.icone }} pe-2"></i>
              {{ formaPagamento.nome }}
            </div>
          </ng-template>
        </p-listbox>
      </div>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div>
      <div class="d-flex justify-content-center mt-3">
        <p-dropdown
          [options]="parcelas"
          [(ngModel)]="qtdParcelas"
          placeholder="Parcelas:"
        />
      </div>
      <div></div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary rounded-pill mt-3" (click)="onSubmit()">
          Concluir Pagamento
        </button>
      </div>
    </div>
  </div>
</p-dialog>
