<!-- <div class="d-flex justify-content-center flex-wrap">
  <ng-container *ngFor="let produto of produtos">
    <div class="card mx-3 my-2" style="width: 15rem">
      <img
        src="{{ produto.imagem }}"
        class="card-img-top"
        style="height: 15rem"
      />
      <div class="card-body text-center">
        <h5 class="card-title">{{ produto.nomeProduto }}</h5>
        <p class="card-text">R$ {{ produto.valor }}</p>
        <a class="btn btn-success">Adicionar ao carrinho</a>
      </div>
    </div>
  </ng-container>
</div> -->
