<h2 class="text-center mt-2 py-2">{{ titulo }}</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" #formDir="ngForm">
  <div class="row px-4 py-2">
    <div class="col-sm-6">
      <app-input-data frmName="data" [form]="formGroup"> </app-input-data>
    </div>
    <div class="col-sm-6">
      <app-input-horario frmName="hora" [form]="formGroup"> </app-input-horario>
    </div>
  </div>
  <div class="row px-4 py-3">
    <div class="col-sm-6">
      <app-input placeholder="Título" frmName="titulo" [form]="formGroup">
      </app-input>
    </div>
    <div class="col-sm-6">
      <app-input placeholder="Descrição" frmName="descricao" [form]="formGroup">
      </app-input>
    </div>
  </div>
  <div class="row px-4 py-2">
    <div class="col-sm-12">
      <button class="btn btn-primary rounded-pill mt-2 w-100" type="submit">
        Próximo
      </button>
    </div>
  </div>
</form>
