<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">Idade</th>
      <th scope="col">Email</th>
      <th scope="col">Cep</th>
      <th scope="col">Função</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody *ngFor="let usuario of listagemUsuarios">
    <tr *ngIf="!usuario.removido">
      <th scope="row" class="id">{{ usuario.idUsuario }}</th>
      <th>{{ usuario.nome }}</th>
      <th>{{ usuario.sobrenome }}</th>
      <th>{{ usuario.idade }}</th>
      <th>{{ usuario.email }}</th>
      <th>{{ usuario.cep | cep }}</th>
      <th>{{ usuario.funcao }}</th>
      <td class="acao">
        <button (click)="editarUsuario(usuario.idUsuario!)" class="editar">
          Editar
        </button>
        <button (click)="removerUsuario(usuario.idUsuario!)" class="excluir">
          Remover
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="adicionar-usuario">
  <button (click)="adicionarUsuario()">Adicionar Usuário</button>
</div>
<div class="desfazer-acao" *ngIf="contUsuariosRemovidos === 1">
  <div>
    Usuário
    <ng-container *ngFor="let usuario of listagemUsuarios">
      <ng-container *ngIf="usuario.removido">
        {{ usuario.nome }} foi<span class="text-danger"> removido!</span>
      </ng-container>
    </ng-container>
    <button class="desfazer" (click)="desfazerAcao()">Desfazer ação</button>
  </div>
</div>
<div class="desfazer-acao" *ngIf="contUsuariosRemovidos > 1">
  <div>
    {{ contUsuariosRemovidos }} usuários foram<span class="text-danger">
      removidos!</span
    >
    <button class="desfazer" (click)="desfazerAcao()">Desfazer ação</button>
  </div>
</div>
