<div class="container d-flex justify-content-center align-items-center">
  <div class="bg-white w-100 p-3">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" #formDir="ngForm">
      <h1 class="text-center mb-4">{{ titulo }}</h1>

      <div class="row mb-3">
        <div class="col-sm-6">
          <app-select-clientes
            placeholder="Cliente"
            frmName="idClientes"
            [form]="formGroup"
          ></app-select-clientes>
        </div>
        <div class="col-sm-5 d-flex ms-5 align-items-center">
          <strong class="ms-5">Ativo:</strong>
          <input-checkbox frmName="ativo" [form]="formGroup"></input-checkbox>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <app-input
            placeholder="Nome"
            frmName="nome"
            [form]="formGroup"
          ></app-input>
        </div>
        <div class="col-sm-6">
          <app-input
            placeholder="Divisão"
            frmName="divisao"
            [form]="formGroup"
          ></app-input>
        </div>
      </div>

      <div class="row mb-3 py-2">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <app-input
            placeholder="Espécie"
            frmName="especie"
            [form]="formGroup"
          ></app-input>
        </div>
        <div class="col-sm-6">
          <app-input
            placeholder="Raça"
            frmName="raca"
            [form]="formGroup"
          ></app-input>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary rounded-pill mt-2 w-100" type="submit">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
