.badge-primary {
  background-color: #007bff;
}

.badge-success {
  background-color: #28a745;
}

.badge-danger {
  background-color: #dc3545;
}

.badge-warning {
  background-color: #ffc107;
}

p {
  font-size: 12px;
}

button {
  width: 22vh;
  height: 5vh;
}
