<form [formGroup]="form" action="" method="get">
  <span class="p-float-label">
    <input
      pInputText
      type="{{ type }}"
      class="{{ class }}"
      id="{{ frmName }}"
      formControlName="{{ frmName }}"
      [ngClass]="{
        'is-invalid': form.get(frmName)?.invalid && isRequired,
        'is-valid': form.get(frmName)?.valid && isRequired
      }"
      mask="000.000.000-00||00.000.000/0000-0"
      required
    />
    <label [htmlFor]="frmName">{{ placeholder }}</label>
    <!-- <div class="mt-0 px-2 invalid-feedback">Campo obrigatório!</div> -->
  </span>
</form>
