<app-top-nav
  [isExpanded]="sidebarExpanded"
  class="top-nav d-flex justify-content-end align-items-end"
></app-top-nav>
<app-side-nav
  class="side-nav"
  [isExpanded]="sidebarExpanded"
  (toggleSidebar)="sidebarExpanded = !sidebarExpanded"
></app-side-nav>
<div
  class="body pb-5 mb-5"
  [ngClass]="{
    'is-expanded': sidebarExpanded
  }"
>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card bg-white w-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div>
  <app-footer [isExpanded]="sidebarExpanded"></app-footer>
</div>
