.container {
  margin-left: 80px;
  width: 1000px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.card {
  margin-bottom: 20px;
  margin-right: 20px;
  background: #ffffff;
  color: #434346;
  width: 200px;
  height: auto;
  font-size: 25px;
  text-align: center;
  border: 1px solid rgb(221, 221, 221);
}
img {
  margin-top: 15px;
  height: 190px;
  width: 190px;
}

.nome {
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  background-color: #7ee993;
  border-radius: 7px;
}

button:hover {
  background-color: #53da6e;
}

button:active {
  background-color: #2cc34a;
}
