<div class="container">
    <div class="card">
      <form>
        <h1>Cadastro</h1>
        <div class="label">
          <label for="nome">Nome:</label>
        </div>
        <div>
          <input type="text" class="input" />
        </div>
        <div class="label">
          <label for="sobrenome">Sobrenome:</label>
        </div>
        <div>
          <input type="text" class="input" />
        </div>
        <div class="label">
          <label for="idade">Idade:</label>
        </div>
        <div>
          <input type="number" class="input" />
        </div>
        <div class="label">
          <label for="email">Email:</label>
        </div>
        <div>
          <input type="email" class="input" />
        </div>
        <div class="label">
          <label for="cep">CEP:</label>
        </div>
        <div>
          <input type="text" class="input" />
        </div>
        <div class="label">
          <label for="funcao">Função:</label>
        </div>
        <div>
          <input type="text" class="input" />
        </div>
        <div>
          <button class="botao">Enviar</button>
        </div>
      </form>
    </div>
  </div>
  