<div
  class="container d-flex justify-content-center align-items-center mt-5 py-5"
>
  <div class="card bg-white w-100">
    <form (ngSubmit)="onSubmit()" [formGroup]="cadastroGroup" #formDir="ngForm">
      <h1 class="text-center">Cadastro</h1>
      <div class="row px-4 py-2">
        <div class="col-sm-6">
          <app-input
            type="text"
            placeholder="Nome"
            frmName="nome"
            [form]="cadastroGroup"
          >
          </app-input>
        </div>
        <div class="col-sm-6">
          <app-input
            type="text"
            placeholder="Sobrenome"
            frmName="sobrenome"
            [form]="cadastroGroup"
          >
          </app-input>
        </div>
      </div>
      <div class="row px-4 py-2">
        <div class="col-sm-6">
          <app-input
            type="email"
            placeholder="E-mail"
            frmName="email"
            [form]="cadastroGroup"
          >
          </app-input>
        </div>
        <div class="col-sm-6">
          <app-input
            type="text"
            placeholder="CEP"
            (input)="onLoadCep($event)"
            frmName="cep"
            [form]="cadastroGroup"
          >
          </app-input>
          <div *ngIf="cepIsWrong">
            <p class="text-danger">O cep precisa ter 8 caracteres</p>
          </div>
          <div *ngIf="!cepHaveOnlyNumbers">
            <p class="text-danger">O cep só pode conter números!</p>
          </div>
        </div>
      </div>
      <div class="row px-4 py-2">
        <div class="col-sm-9">
          <app-input
            type="text"
            placeholder="Função"
            frmName="funcao"
            [form]="cadastroGroup"
          >
          </app-input>
        </div>
        <div class="col-sm-3">
          <app-input
            type="number"
            placeholder="Idade"
            frmName="idade"
            [form]="cadastroGroup"
          >
          </app-input>
          <div *ngIf="ageIsWrong">
            <p class="text-danger">A idade não pode ser negativa!</p>
          </div>
        </div>
      </div>
      <div class="row px-4 py-2 mt-3">
        <div class="col-sm-12">
          <button class="btn btn-primary rounded-pill w-100">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
