<div class="container">
    <div class="card">
      <form>
        <h1>Cadastro</h1>
        <div>
          <label for="nome" class="label">Nome:</label>
        </div>
        <div>
          <input type="text" class="input" />
        </div>
        <div>
          <label for="sobrenome" class="label">Sobrenome:</label>
        </div>
        <div>
          <input type="text" class="input" />
        </div>
        <div>
          <label for="idade" class="label">Idade:</label>
        </div>
        <div>
          <input type="number" class="input" />
        </div>
        <div>
          <label for="email" class="label">Email:</label>
        </div>
        <div>
          <input type="email" class="input" />
        </div>
        <div>
          <label for="cep" class="label">CEP:</label>
        </div>
        <div>
          <input type="text" class="input" />
        </div>
        <div>
          <label for="funcao" class="label">Função:</label>
        </div>
        <div>
          <input type="text" class="input" />
        </div>
      </form>
    </div>
  </div>