<form [formGroup]="form" action="" method="get">
  <select
    class="{{ class }}"
    id="{{ frmName }}"
    formControlName="{{ frmName }}"
    [ngClass]="{ 'is-invalid': form.get(frmName)?.invalid }"
    (focusout)="emitirIdClientes()"
    required
  >
    <option value="0">Selecione um Cliente:</option>
    <ng-container *ngFor="let cliente of clientes">
      <option value="{{ cliente.idClientes }}">
        {{ cliente.nomeClientes }}
      </option>
    </ng-container>
  </select>
  <div class="mt-0 px-2 invalid-feedback">Campo obrigatório!</div>
</form>
