<!-- <p-table
  #myTab
  [value]=""
  [globalFilterFields]="[
    'nomeCliente',
    'nomeAnimal',
    'especieAnimal',
    'nomeServico',
    'valor',
    'tempo'
  ]"
>
  <ng-template pTemplate="caption">
    <h2 class="text-center">Atendimentos</h2>
    <div class="row">
      <div class="col-sm-1 px-3">
        <h5>Filtro:</h5>
      </div>
      <div class="col-sm-3">
        <input
          type="text"
          pInputText
          (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
        />
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="nomeCliente">
        Nome do Cliente <p-sortIcon field="nomeCliente"></p-sortIcon>
      </th>
      <th pSortableColumn="nomeAnimal">
        Nome do animal <p-sortIcon field="nomeAnimal"></p-sortIcon>
      </th>
      <th pSortableColumn="especieAnimal">
        Espécie <p-sortIcon field="especieAnimal"></p-sortIcon>
      </th>
      <th pSortableColumn="nomeServico">
        Serviço <p-sortIcon field="nomeServico"></p-sortIcon>
      </th>
      <th pSortableColumn="valor">
        Valor <p-sortIcon field="valor"></p-sortIcon>
      </th>
      <th pSortableColumn="tempo">
        Tempo <p-sortIcon field="tempo"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-atendimento>
    <tr>
      <td>{{ atendimento.nomeCliente }}</td>
      <td>{{ atendimento.nomeAnimal }}</td>
      <td>{{ atendimento.especieAnimal }}</td>
      <td>{{ atendimento.nomeServico }}</td>
      <td>
        <p>{{ atendimento.valor | currency : "BRL" }}</p>
      </td>
      <td>{{ atendimento.tempo }}</td>
    </tr>
  </ng-template>
</p-table> -->
