<div class="sidebar bg-primary" [ngClass]="{ expanded: isExpanded }">
  <div class="bg-gradient-primary">
    <div class="toggle">
      <h2 class="text-white text-center py-1 mt-2">Aulas</h2>
    </div>
  </div>
  <hr class="sidebar-divided mt-3" />
  <div class="content text-white" *ngFor="let route of routes">
    <div class="link">
      <div
        class="content"
        [routerLink]="['/private/', route.route]"
        [routerLinkActive]="'active'"
      >
        <div class="a.text-white">{{ route.title }}</div>
      </div>
      <hr class="sidebar-divided" />
    </div>
  </div>
  <div class="footer"></div>
</div>
