<p-table
  #myTab
  [value]="lista"
  [globalFilterFields]="[
    'nomeClientes',
    'nome',
    'nomeServico',
    'status',
    'valor',
    'formaPagamento'
  ]"
>
  <ng-template pTemplate="caption">
    <h2 class="text-center">Atendimentos</h2>
    <div class="row">
      <div class="col-sm-1 px-3">
        <h5>Filtro:</h5>
      </div>
      <div class="col-sm-3">
        <input
          type="text"
          pInputText
          (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
        />
      </div>
      <div class="d-flex justify-content-end col-sm-8">
        <button class="btn btn-success" (click)="adicionarAtendimento()">
          <span class="bi bi-plus"></span>
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="nomeClientes">
        Nome do Cliente <p-sortIcon field="nomeClientes"></p-sortIcon>
      </th>
      <th pSortableColumn="nome">
        Nome do animal <p-sortIcon field="nome"></p-sortIcon>
      </th>
      <th pSortableColumn="servico">
        Serviço <p-sortIcon field="nomeServico"></p-sortIcon>
      </th>
      <th pSortableColumn="valor">
        Valor <p-sortIcon field="valor"></p-sortIcon>
      </th>
      <th pSortableColumn="formaPagamento">
        Forma de Pagamento <p-sortIcon field="formaPagamento"></p-sortIcon>
      </th>
      <th pSortableColumn="status">
        Status <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-i="rowIndex" let-atendimento>
    <tr>
      <td>{{ atendimento.nomeClientes }}</td>
      <td>{{ atendimento.nome }}</td>
      <td>{{ atendimento.nomeServico }}</td>
      <td>
        {{ atendimento.valor | currency : "BRL" }}
      </td>
      <td>
        <ng-container *ngIf="atendimento.formaPagamento; else nao_selecionado">
          {{ atendimento.formaPagamento | titlecase }}</ng-container
        >
        <ng-template #nao_selecionado>Ainda não Selecionado</ng-template>
      </td>
      <td>
        <span appDirectiveBadge [status]="atendimento.status" class="badge">
        </span>
      </td>
      <td>
        <app-dropdown-acoes
          [idxList]="i"
          [botoesDropDown]="[
            {
              id: 'id-edit-atendimento',
              nome: 'Editar',
              icone: 'bi bi-pencil',
              disabled: [0, 4].includes(atendimento.status)
            },
            {
              id: 'id-init-atendimento',
              nome: 'Iniciar',
              icone: 'bi bi-play-circle',
              disabled: [0, 2, 3, 4].includes(atendimento.status)
            },
            {
              id: 'id-finalizar-atendimento',
              nome: 'Finalizar',
              icone: 'bi bi-check2-circle',
              disabled: [0, 1, 3, 4].includes(atendimento.status)
            },
            {
              id: 'id-pagar-atendimento',
              nome: 'Pagar',
              icone: 'bi bi-cash-stack',
              disabled: [0, 1, 2, 4].includes(atendimento.status)
            },
            {
              id: 'id-cancelar-atendimento',
              nome: 'Cancelar',
              icone: 'bi bi-x-circle',
              disabled: [0, 2, 3, 4].includes(atendimento.status)
            },
            {
              id: 'id-restaurar-atendimento',
              nome: 'Restaurar',
              icone: 'bi bi-reply',
              disabled: [1, 2].includes(atendimento.status)
            }
          ]"
          (emitterDropDownClick)="emitterDropDownClick($event)"
        ></app-dropdown-acoes>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-pagamento id="pagamento" #pagamento></app-pagamento>
