<p-table
  #myTab
  [value]="lista"
  [globalFilterFields]="[
    'nomeClientes',
    'nome',
    'especie',
    'nomeServico',
    'status',
    'valorServico'
  ]"
>
  <ng-template pTemplate="caption">
    <h2 class="text-center">Atendimentos</h2>
    <div class="row">
      <div class="col-sm-1 px-3">
        <h5>Filtro:</h5>
      </div>
      <div class="col-sm-3">
        <input
          type="text"
          pInputText
          (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
        />
      </div>
      <div class="d-flex justify-content-end col-sm-8">
        <button class="btn btn-success" (click)="adicionarAtendimento()">
          <span class="bi bi-plus"></span>
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="nomeClientes">
        Nome do Cliente <p-sortIcon field="nomeClientes"></p-sortIcon>
      </th>
      <th pSortableColumn="nome">
        Nome do animal <p-sortIcon field="nome"></p-sortIcon>
      </th>
      <th pSortableColumn="especie">
        Espécie <p-sortIcon field="especie"></p-sortIcon>
      </th>
      <th pSortableColumn="servico">
        Serviço <p-sortIcon field="nomeServico"></p-sortIcon>
      </th>
      <th pSortableColumn="valorServico">
        Valor <p-sortIcon field="valorServico"></p-sortIcon>
      </th>
      <th pSortableColumn="status">
        Status <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-atendimento>
    <tr>
      <td>{{ atendimento.nomeClientes }}</td>
      <td>{{ atendimento.nome }}</td>
      <td>{{ atendimento.especie }}</td>
      <td>{{ atendimento.nomeServico }}</td>
      <td>
        <p>{{ atendimento.valorServico | currency : "BRL" }}</p>
      </td>
      <td>
        <span class="badge {{ inicializarBadges(atendimento).classeBadge }}">{{
          inicializarBadges(atendimento).nomeBadge
        }}</span>
      </td>
      <td>
        <button
          class="btn-editar btn btn-primary btn-sm"
          (click)="editarAtendimento(atendimento.idAtendimento)"
        >
          <span class="bi bi-pencil"></span>
        </button>
        <button
          class="btn btn-danger btn-sm"
          (click)="deletarAtendimento(atendimento.idServicos)"
        >
          <span class="bi bi-trash"></span>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
