<div class="shopping-cart">
  <h1>Carrinho</h1>
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>
  <div class="product">
    <ng-container class="list-product" *ngFor="let produto of produtosCarrinho">
      <div class="product-image">
        <img src="{{ produto.imagem }}" />
      </div>
      <div class="product-details">
        <div class="product-title">{{ produto.nome }}</div>
        <p class="product-description">
          {{ produto.descricao }}
        </p>
      </div>
      <div class="product-price">{{ produto.preco }}</div>
      <div
        class="product-quantity"
        [formGroup]="qtdFormGroup"
        #formDir="ngForm"
      >
        <input
          type="number"
          value="1"
          min="1"
          max="10"
          formControlName="qtd"
          required
          (input)="calcularPrecoQtd(produto.id)"
        />
      </div>
      <div class="product-removal">
        <button
          class="remove-product"
          (click)="removerProdutoCarrinho(produto.id!)"
        >
          Remove
        </button>
      </div>
      <div class="totals">
        <div class="totals-item totals-item-total">
          <label></label>
        </div>
        <label></label>
      </div>
    </ng-container>
  </div>
  <h2 class="valor-total">Total: ${{ precoTotal }}</h2>

  <button class="checkout">Checkout</button>
</div>
