<div class="card bg-white w-100 p-3">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" #formDir="ngForm">
    <h1 class="text-center mb-4">{{ titulo }}</h1>
    <div class="row px-4 py-2">
      <div class="col-sm-10">
        <p class="m-0 p-0 text-end me-3"><strong>Data Nascimento:</strong></p>
      </div>
      <div class="col-sm-8 py-3">
        <app-input placeholder="Nome" frmName="nomeClientes" [form]="formGroup">
        </app-input>
      </div>
      <div class="col-sm-4 mt-2">
        <!-- <app-input
            class="form-control rounded-pill"
            type="date"
            placeholder="Data
          Nascimento"
            frmName="dtaNascimento"
            [form]="formGroup"
          ></app-input> -->
      </div>
    </div>
    <div class="row px-4 py-2">
      <div class="col-sm-8">
        <app-input placeholder="E-mail" frmName="email" [form]="formGroup">
        </app-input>
      </div>
      <div class="col-sm-4">
        <app-input-telefone
          placeholder="Telefone"
          frmName="fone"
          [form]="formGroup"
        >
        </app-input-telefone>
      </div>
    </div>
    <div class="row px-4 py-4">
      <div class="col-sm-6">
        <app-input-cpf-cnpj
          placeholder="CPF/CPNJ"
          frmName="cpfCnpj"
          [form]="formGroup"
        >
        </app-input-cpf-cnpj>
      </div>
      <div class="col-sm-6">
        <app-input-cep
          placeholder="CEP"
          (onEvent)="onLoadCep($event)"
          frmName="cep"
          [form]="formGroup"
        >
        </app-input-cep>
      </div>
    </div>
    <div class="row px-4 py-2">
      <div class="col-sm-6">
        <app-input
          placeholder="Logradouro"
          frmName="logradouro"
          [form]="formGroup"
        >
        </app-input>
      </div>
      <div class="col-sm-6">
        <app-input placeholder="Bairro" frmName="bairro" [form]="formGroup">
        </app-input>
      </div>
    </div>
    <div class="row px-4 py-2">
      <div class="col-sm-8">
        <app-select-cidades
          placeholder="Cidade"
          frmName="idCidades"
          cidade="localidade"
          [form]="formGroup"
        >
        </app-select-cidades>
      </div>
      <div class="col-sm-4">
        <app-select-ufs
          placeholder="UF"
          frmName="idUf"
          uf="uf"
          [form]="formGroup"
        >
        </app-select-ufs>
      </div>
    </div>
    <div class="row px-4 py-2">
      <div class="col-sm-12">
        <button class="btn btn-primary rounded-pill mt-2 w-100" type="submit">
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
