.table, th, td{
    background: #0f1017;
    border: 1px solid;
    width: 800px;
    height: 60px;
    color: #a2a3b6;
    text-align: center;
    // justify-content: center;
    // align-items: center;
    margin-top: 75px;
    margin-left: 100px;
}

.descricao{
    width: 2000px;
}

th{
    background: #0f1017;
    color: #ffffff;
}

.id{
    background-color: rgb(98, 109, 119);
}

// background: #0f1017;
// color: #6d6e7e;
// border-radius: 1px solid rgb(58, 57, 57);