<div class="row">
  <div
    class="container d-flex justify-content-center bg-primary align-items-center"
  >
    <img
      class="rounded-left"
      src="https://img.freepik.com/fotos-premi  um/um-cachorro-pug-vestindo-uma-jaqueta-amarela-e-oculos_911949-103.jpg"
    />
    <div class="box bg-light rounded-right">
      <p class="message text-center mt-5 h4 mb-5">Login</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="px-2 py-4">
          <div class="row col-sm-12">
            <app-input
              type="email"
              placeholder="E-mail"
              frmName="email"
              [form]="loginForm"
            >
            </app-input>
          </div>
        </div>
        <div class="row py-2 col-sm-12 px-2">
          <app-input-senha
            frmPlaceholder="Senha"
            frmName="password"
            [form]="loginForm"
          >
          </app-input-senha>
        </div>
        <div class="row px-3 py-4">
          <div class="col-sm-12">
            <button class="btn btn-primary rounded-pill w-100">Login</button>
          </div>
        </div>
        <div class="row px-3 py-2">
          <div class="col-sm-12">
            <hr />
          </div>
        </div>
      </form>
      <div class="row py-3">
        <div class="col-sm-12">
          <a href=""><p class="h6 text-center">Esqueceu a senha?</p></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a routerLink="/auth/cadastro"
            ><p class="h6 text-center">Criar uma conta!</p></a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-toast-message #toast></app-toast-message> -->
