<div class="bg-primary" *ngIf="!loggedIn">
  <div *ngIf="!cadastro">
    <app-login
      (emitterLoggedIn)="receiveEmitLoggedIn()"
      (emitterCadastro)="receiveEmitCadastro()"
    ></app-login>
  </div>
  <div *ngIf="cadastro">
    <app-cadastro (emitterLogin)="receiveEmitLogin()"></app-cadastro>
  </div>
</div>

<div *ngIf="loggedIn">
  <app-top-nav
    (emitterSignOut)="receiveEmitSignOut($event)"
    class="top-nav d-flex justify-content-end align-items-end"
  ></app-top-nav>
  <app-side-nav
    class="side-nav"
    [isExpanded]="sidebarExpanded"
    (toggleSidebar)="sidebarExpanded = !sidebarExpanded"
  ></app-side-nav>
  <div
    class="content bg-light"
    [ngClass]="{ sidebarExpanded: sidebarExpanded }"
  >
    <app-body></app-body>
    <app-footer></app-footer>
  </div>
</div>
