<!-- <div class="content" [ngClass]="{ sidebarExpanded: sidebarExpanded }">
  <app-top-nav></app-top-nav>
</div>
<app-side-nav
  [isExpanded]="sidebarExpanded"
  (toggleSidebar)="sidebarExpanded = !sidebarExpanded"
></app-side-nav>
<div class="content" [ngClass]="{ sidebarExpanded: sidebarExpanded }">
  <router-outlet></router-outlet>
</div> -->

<!-- <app-login></app-login> -->
<!-- <div class="content" [ngClass]="{ sidebarExpanded: sidebarExpanded }">
  <app-top-nav></app-top-nav>
</div> -->

<div *ngIf="!loggedIn">
  <app-login (emitterLoggedIn)="receiveEmitLoggedIn()"></app-login>
</div>

<div *ngIf="loggedIn">
  <app-top-nav (emitterSignOut)="receiveEmitSignOut($event)"></app-top-nav>
  <app-side-nav
    [isExpanded]="sidebarExpanded"
    (toggleSidebar)="sidebarExpanded = !sidebarExpanded"
  ></app-side-nav>
  <div class="content" [ngClass]="{ sidebarExpanded: sidebarExpanded }">
    <app-footer></app-footer>
    <router-outlet></router-outlet>
  </div>
</div>
