<form [formGroup]="form" action="" method="get">
  <select
    class="{{ class }}"
    id="{{ frmName }}"
    formControlName="{{ frmName }}"
    [ngClass]="{
      'is-invalid': form.get(frmName)?.invalid
    }"
    required
  >
    <option selected>Selecione uma cidade:</option>
    <ng-container *ngFor="let cidade of cidades">
      <option value="{{ cidade.nomeCidade }}">{{ cidade.nomeCidade }}</option>
    </ng-container>
  </select>
  <div class="mt-0 px-2 invalid-feedback">Campo obrigatório!</div>
</form>
