<div class="div-principal">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="container bg-light shadow">
          <h1 class="title text-primary">Bem Vindo</h1>
          <div class="bg-white">
            <hr class="sidebar-divided" />
            <p class="text-muted">
              Bem vindo a zona mais baixa do mercado negro, onde os produtos
              variam entre uma coxinha até a uma bomba núclear.
            </p>
            <a [routerLink]="['/user']">cadastre-se em nosso site</a>
            <h1></h1>
            <a class="link" (click)="redirecionarParaCatalogo()"
              >veja os nossos produtos</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="products bg-light shadow">
          <h3 class="titulo text-primary">Produtos sem estoque:</h3>
          <hr class="sidebar-divided" />

          <table class="table bg-white">
            <ng-container *ngFor="let produto of produtosSemEstoque">
              <thead>
                <tr>
                  <td scope="row" class="nome text-left w-50 text-muted m-0">
                    <h6 class="text-danger m-0">{{ produto.nomeProduto }}</h6>
                  </td>
                </tr>
              </thead>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
