.container {
  margin-top: 40px;
  margin-left: 300px;
  margin-right: 40px;
  height: auto;  
  align-items: center;
  width: 600px;
  background: #1d1e2c;
  color: #ffffff;
  text-align: center;
  border-radius: 15px;
}
.container2 {
  margin-top: 40px;
  margin-left: 300px;
  margin-right: 40px;
  height: auto;  
  align-items: center;
  width: 600px;  
}

.card{
  background-color: #6d6e7e;
  border-radius: 15px;
}

.h1{
  background: #1d1e2c;
  color: #ffffff;
  height: 70px;
  border-radius: 15px;
}

.products{
  background-color: #6d6e7e;
  color: #1d1e2c;
  height: auto;
  text-align: center;
  border-radius: 15px;
}