<div class="container">
  <h1>Exercício</h1>
  <div class="card">
    <a [routerLink]="['/user']">cadastre-se em nosso site</a>
    <h1></h1>
    <a [routerLink]="['/catalog']">veja os nossos produtos</a>
  </div>
</div>
<div class="container2">
  <div class="products">
    <h1 class="h1">Produtos adicionados Recentemente:</h1>
    <ng-container *ngFor="let produto of newProducts">
      <table class="tabela">
        <thead>
          <tr>
            <td scope="row" class="nome">{{ produto.nome }}</td>
            <td scope="row" class="preco">R${{ produto.preco }}</td>
          </tr>
        </thead>
      </table>
    </ng-container>
  </div>
</div>
