.topnav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  margin-left: 0px;
  text-align: end;
}

.topnav div {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.topnav div:nth-child(2) {
  margin-top: 0px !important;
  font-size: 30px;
}

.aulas{
  width: 150px;
}

input{
  width: 150px;
  margin-left: 150px;
}

.signout{
  margin-left: 900px;
}