<h2 class="text-center mt-2 py-2">Serviço</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" #formDir="ngForm">
  <div class="row px-4 py-2">
    <div class="col-sm-6">
      <app-select-clientes
        [form]="formGroup"
        frmName="idClientes"
        cliente="nomeClientes"
        (emitterIdCliente)="selecionarAnimaisDoCliente($event)"
      ></app-select-clientes>
    </div>
    <div class="col-sm-6">
      <app-select-animais-cliente
        [form]="formGroup"
        frmName="idAnimal"
        animal="nome"
        #selectAnimaisCliente
      ></app-select-animais-cliente>
    </div>
  </div>
  <div class="row px-4 py-2">
    <div class="col-sm-6">
      <app-select-tipo-servico
        [form]="formGroup"
        frmName="tipoServico"
        tipoServico="tipoServico"
        (emitterProdutosTipoServico)="setarProdutos($event)"
        (emitterTipoServico)="setarServicoSelecionado($event)"
      ></app-select-tipo-servico>
    </div>
    <div class="col-sm-6">
      <app-multi-select-produtos
        frmPlaceholder="Selecione os Produtos"
        [form]="formGroup"
        frmName="produtos"
        frmProdutos="produtos"
      ></app-multi-select-produtos>
    </div>
  </div>
</form>
