/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";

.rounded-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rounded-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
