<div class="container">
  <div class="card">
    <form (ngSubmit)="onSubmit()" [formGroup]="apiFormGroup">
      <h1>Editar Produtos</h1>
      <div class="label">
        <span for="">Nome:</span>
      </div>
      <div>
        <input type="text" class="input" formControlName="nome" required />
        <div class="required" *ngIf="nomeIsEmpty">
          O campo nome é obrigatório!
        </div>
      </div>
      <div class="label">
        <span for="url">URL:</span>
      </div>
      <div>
        <input type="text" class="input" formControlName="url" required />
        <div class="required" *ngIf="urlIsEmpty">
          O campo URL é obrigatório!
        </div>
      </div>
      <div class="label">
        <span for="url">RapidApi-Host:</span>
      </div>
      <div>
        <input
          type="text"
          class="input"
          formControlName="rapidApiHost"
          required
        />
        <div class="required" *ngIf="rapidApiHostIsEmpty">
          O campo RapidApi-Key é obrigatório!
        </div>
      </div>
      <div>
        <button class="botao" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>
