<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
  <button
    type="button"
    class="btn m-0 p-0"
    id="dropdownManual"
    ngbDropdownAnchor
    (focus)="myDrop.open()"
  >
    <span class="bi bi-list fs-2"></span>
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual">
    <button ngbDropdownItem (click)="verPerfil()">
      <span class="bi bi-person me-1"></span>
      Perfil
    </button>
    <button ngbDropdownItem (click)="configuracaoDoServico()">
      <span class="bi bi-gear me-2"></span>Configuração
    </button>
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem (click)="sair()">
      <p class="text-danger p-0 m-0">
        <span class="bi bi-box-arrow-in-left me-2"></span>Sair
      </p>
    </button>
  </div>
</div>
