<div class="container d-flex justify-content-center align-items-center py-5">
  <div class="card bg-white w-100 p-3">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" #formDir="ngForm">
      <h1 class="text-center mb-4" *ngIf="!id">Cadastrar Produto</h1>
      <h1 class="text-center mb-4" *ngIf="id">Editar Produto {{ id }}</h1>
      <div class="row px-4 py-2">
        <div class="col-sm-9">
          <app-input placeholder="Nome" frmName="nome" [form]="formGroup">
          </app-input>
        </div>
        <div class="col-sm-3">
          <app-input
            placeholder="Categoria"
            frmName="categoria"
            [form]="formGroup"
          ></app-input>
        </div>
      </div>
      <div class="row px-4 py-2">
        <div class="col-sm-9">
          <app-input
            placeholder="Descrição"
            frmName="descricao"
            [form]="formGroup"
          >
          </app-input>
        </div>
        <div class="col-sm-3">
          <app-input
            type="number"
            placeholder="Preço"
            frmName="preco"
            [form]="formGroup"
          >
          </app-input>
        </div>
      </div>
      <div class="px-4 py-2">
        <app-input placeholder="Imagem" frmName="imagem" [form]="formGroup">
        </app-input>
      </div>
      <div>
        <button class="btn btn-primary rounded-pill mt-2 w-100" type="submit">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
